@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=PT+Mono&family=Poppins:wght@200&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
*:selections {
   background: lightblue!important;
}
*:focus {
 outline: none
}
body,html{
width: 100%;
height: 100%;
   overscroll-behavior: none;
overflow: scroll;
}
div.fluid-container {
width: 100%;
height: 100%;
min-height: 500px;
display: grid;
grid-template-rows: 50% 50%;
grid-template-columns: 100%;
}
div.fluid-container div.cd{
background: rgba(0,0,0,.05);
background-size: cover;
overflow: auto;
border-bottom: 1px solid lightgrey;
}
.cd header {
width: 100%;
height: auto;
display: flex;
align-items: flex-end;
justify-content: center;
position: sticky;
top: 0;
z-index: 10000;
}
header button {
width: 25%;
padding: 9px;
font-size: 15px;
font-family: "Poppins", sans-serif;
font-weight: 700;
color: white;
background-color: rgba(9,25,45,1);
border: none;
}
.cd div.code-container {
width: 100%;
height: calc(100% - 24px);
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(0,0,0,.90);
}
.code-container > section {
width: 100%;
height: 100%;
border: none;
background-color: transparent;
display: none;
   padding: 5px;
  line-height: 1.4!important;
}

.fluid-container div.frame-container {
display: flex;
align-items: center;
justify-content: center;
}
.frame-container iframe {
width: 100%;
height: 100%;
border: none;
}

/*active buttons*/
.active {
background-color: rgba(12,34,45,1)!important;
}
#result {
width: 25%!important;
background-color: green;
}
#result:active {
border: 2px solid orange;
padding: 7px!important;
}
div.prompt {
position: fixed;
bottom: 10px;
left: -200%;
width: 95%;
height: 90px;
display: flex;
align-items: center;
background-color: rgba(25,34,67,1);
border-radius: 3px;
justify-content: space-around;
z-index: 1;
transition: left 1s;
}
.prompt > button {
position: absolute;
top: -7px;
right: -1px;
padding: 5px;
font-size: 1.3em;
border: none;
background-color: transparent;
color: white;
font-family: sans-serif;
font-weight: 1000;
}
.prompt div.leftedTxt {
width: 70%;
}
.leftedTxt h2 {
padding: 5px 10px;
text-align: left;
font-family: sans-serif;
font-weight: 1000;
font-size: 1.2em;
color: white;
}
.leftedTxt p {
padding: 5px 10px;
line-height: 1;
word-spacing: 2px;
font-family: sans-serif;
font-weight: 300;
font-size: 1em;
color: white;
}
.prompt div.accepted {
width: 25%;
display: flex;
align-items: center;
justify-content: center;
}
.accepted button {
width: 100%;
padding: 10px;
font-size: 1.3em;
background-color: transparent;
border: none;
color: dodgerblue;
font-family: sans-serif;
font-weight: 300;
text-align: center;
}
@media screen and (min-width: 900px) {
   div.fluid-container {
       grid-template-columns: 30% 70% !important;
       grid-template-rows: 100% !important;
      }
.cd header {
display: none!important;
}
.cd div.code-container {
width: 100%!important;
height: 100%!important;
flex-wrap: wrap;
}
.code-container section {
display: block!important;
width: 100%;
height: 33.33%;
overflow-y: scroll!important;
  font-size: 1.12rem!important;
  position: relative;
  border-top: 2px solid white;
}

.fluid-container div.frame-container {
width: 100%!important;
border: 1px solid black;
}
} 
