@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Source+Code+Pro:wght@300&family=Poppins&display=swap');
:root {
  --opacity : 0.2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.code-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-rows: 100%;
  transform: translateX(0%);
  transition: transform 0.6s;
}
.code-container .code-section {
  background: #222930;
}
.navbar {
  width: 100%;
  height: auto;
  background: #303A43;
}
.code-section .navbar .play-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,var(--opacity));
}
.play-section h2 {
  padding: 10px;
  color: white;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
}
.play-section button {
  padding: 10px;
  margin: 5px;
  background: transparent;
  color: springgreen;
  border: none;
  font-size: 1.3rem;
}

.code-section .navbar .toggle-editor {
  border-bottom: 1px solid rgba(255,255,255,var(--opacity));
  display: flex;
}
.code-section .navbar .toggle-editor button {
  width: auto;
  margin: 0px;
  padding: 5px 15px;
  border: none;
  border-right: 1px solid rgba(255,255,255,var(--opacity));
  background: transparent;
  color: white;
}
.code-section .navbar .toggle-editor button i {
  font-size: 1.3rem;
  display: inline-block;
  padding: 6px;
  margin-top: 5px;
  vertical-align: sub;
}
.code-section .navbar .toggle-editor button.btnHTML i {
  color: tomato;
}
.code-section .navbar .toggle-editor button.btnCSS i {
  color: royalblue;
}
.code-section .navbar .toggle-editor button.btnJS i {
  color: orange;
}
.code-section .navbar .toggle-editor button.active {
  background: rgb(38,50,56);
}
.code-section .editor-container {
  overflow: auto;
  width: 100%;
  padding: 5px;
}
.code-section .editor-container .editor {
  width: 100%;
  height: 100%;
  min-height: 18px;
  display: none;
  background: rgba(0,0,0,.15);
  line-height: 1.4;
  padding: 5px;
  background: transparent;
}
.code-section .editor-container .editor > * {
  background: transparent !important;
  color: white !important;
}
.code-section .editor-container .ace_layer { 
  background: transparent;
}
.code-section .editor.active {
  display: block;
}



.code-container .output-console {
  width: 100%;
  height: 100%;
}

.output-console .title-exit {
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  background: rgba(0,0,0,.85);
  color: white;
}

.output-console .title-exit h2 {
  padding: 12px;
  font-family: "Source Code Pro", sans-serif;
  vertical-align: middle;
}
.output-console .title-exit button {
  width: 45px;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: seagreen;
}
.output-console #output {
  width: 100%;
  border: none;
}
